Escaping scheme for ids with commas in them

If an ID is a string, and the string ID has a comma, how should the id string be represented in a comma-separated list of ids (e.g. in a URL request `/comments?ids=5,12,17,20`)? Or should this be expressly forbidden by the spec?

I know doing this would probably be poor design, but I'm trying to implement a .Net library that makes it easy to build a .Net MVC WebAPI backend that is JSONAPI compliant, so I thought I should consider this as an edge case.


Actually, this will be pertinent for clients when "exploding" client IDs and substituting them into URL templates as well.


That's what the URI template is for: it tells you how to fill things in.

If your IDs have commas, you shouldn't use them in your URIs for exactly this reason, it's ambiguous.


Okay, but:

The example above doesn't use the URL templating mechanism, that's the automatic/built-in "template" which is _required_ to be implemented. To quote:

> An API that provides a to-many relationship as an array of IDs MUST respond to a GET request with a list of the specified documents with a URL formed by joining:
> - A base URL that represents the type of the related resource (this must be hardcoded in the client)
> - `?ids=`
> - A comma-separated list of the specified IDs
> 
> In the above example, a GET request to `/comments?ids=5,12,17,20` returns a document containing the four specified comments.

So, for a concrete example, given this spec, what would the URL look like if the IDs are: `[ "37.4,-124.5", "44.34,-102.12", "40.2,-99.4" ]`?

Unless there is a way to deal with that, wouldn't we need to explicitly forbid string IDs with commas in them in the spec (at least without explicit URL templates)? Or maybe we need to specify quotes around string IDs? If this is the case it would satisfy the question...of course then you need a way to escape the quotes...

I'll look back into the RFC to see how you'd fix this problem with a URL template, if you say so.


Sorry, ugh, I forgot those lines are in there. It's one of the parts I'm not super happy about.

You're right that this situation needs resolved, but I'd prefer something more fundamental than "here's how to escape commas."


/cc @wycats 


Hmm... looked at [RFC 6570 section 2.4.2 Composite Values](http://tools.ietf.org/html/rfc6570#section-2.4.2), and it kinda has a rule, but it's not what we're doing. For example, if you expand `?ids={posts.comments}` it suggests the expansion should be `?ids=1&ids=2&ids=3&ids=4` (technically, that's for `{?ids*}`)... of course it also says that composite value expansion should be denoted with a `*` operator (e.g. `{posts.comments*}`), and all this requires a "Level 4" parser. 


Correction, on second look, ([section 3.2.1](http://tools.ietf.org/html/rfc6570#section-3.2.1) and elsewhere) the spec seems to say that the commas in my example should be encoded as `%2C`...but I'm afraid that this: `1%2CA,2%2CB` would come out `1,A,2,B` on the server end in most cases. Anyway, looking forward to others' input.


Superceded by #190.


Can we please reopen this. This was superceeded by #190, which was superceeded by #209 ...but the underlying issue of escaping commas (at least) in [multiple-resource URLs](http://jsonapi.org/format/#urls-individual-resources) still hasn't been addressed. The superceeding issues dealt with whether commas should be allowed in the ID at all--which would have answered the question if the answer had been "no", but it ended up being "yes"...so we have to ask this question again.

This question still remains unanswered, with regard to selecting multiple resources from e.g. `/geopoints`:

> So, for a concrete example, given this spec, what would the URL look like if the IDs are: `[ "37.4,-124.5", "44.34,-102.12", "40.2,-99.4" ]`?

And to quote from #190 (with slight modification taking into account updates to the spec)

> So, whatever the rule will be for dealing with commas and other special characters in an ID, please at least have one. I'm okay with requiring the rule to be URL-encoding. And to be clear, I think what we're talking about is actually double-URL-encoding...that is, requesting two objects with IDs `a,b` and `c,d` would look like `http://host/namespace/resource/%252Cb%2Cc%252Cd`. Because as @mrec correctly noted, `type/a%2Cb,c%2Cd` and `type/a,b,c,d` are functionally identical--I think the server is required to see both of these as the same.

So, simply percent-encoding the commas is not sufficient. Is "double"-percent-encoding the solution and if so shouldn't this be declared in the spec?

Again, I have to be able to answer this question because I'm building [a library](https://github.com/SphtKr/JSONAPI.NET) against the spec and I have no knowledge or control of whether my users will have commas in their IDs or not...in fact if I were to prevent them from doing so I would arguably breaking the spec, because that's a SHOULD, not a MUST.
