Related resources: URLs of `resource` links

I'd like some clarification on the purpose of `resource` members in links to related resources.

The [relevant section][] of the current spec states:

[relevant section]: https://github.com/json-api/json-api/blob/dfaf60ee962a1807aa9563fafa75cef703a854ce/format/index.md#resource-relationships-

> If a relationship is provided as a link object, it MUST contain at least one of the following:
>
>- A self member, whose value is a URL for the relationship itself (a "relationship URL"). This URL allows the client to directly manipulate the relationship. For example, it would allow a client to remove an author from an article without deleting the people resource itself.
>- A resource member, whose value is a related resource URL (as defined above).
>- ...

This seems rather clear to me, but the associated example contains a surprising value for a `resource` URL:

```json
// ...
{
  "type": "articles",
  "id": "1",
  "title": "Rails is Omakase",
  "links": {
    "self": "http://example.com/articles/1",
    "author": {
      "self": "http://example.com/articles/1/links/author"
      "resource": "http://example.com/articles/1/author",
      "type": "people",
      "id": "9"
    },
    "comments": {
      "resource": "http://example.com/articles/1/comments"
    }
  }
}
// ...
```

`"http://example.com/articles/1/author"` – Why is there an article-specific URL for this linked resource? If I'm understanding the spec correctly, I would expect the resource URL in this particular case to be `http://example.com/people/9`. (This is the URL given in the `linked` member of the example compound document below, which also contains the strange author URL.)

Since the relationship itself is already identified by the `self` member, I don't see what's to be gained by this extra indirection. It seems to merely introduce the ambiguity of making the same resource available at different URLs.

I could see this kind of URL being used for a composition-like relationship, where a resource can't exist independently of its container; however, that's obviously not the case where many articles can have the same author. So, am I missing some important point here, or is this just an unfortunate example?



Relationships are mutable. Related resource URLs (identified by `resource`) are immutable for the life of a resource. Related resource URLs should always return the _current_ resource(s) in a relationship. This concept was missing in the pre-RC2 spec, but I think it's very useful.

Essentially, related resource URLs are valuable beyond the life of the request. Consider that you may not want to immediately fetch this related resource, or you want to know if it's been updated at a later time.

Now, if you do want the `self` link to the current related resource, it's because you want to fetch the related resource _right now_. In that case, simply `include` it along with your request for the primary resource, and you'll get the related resource (in `linked`) as well as its `self` link.


Thanks for explaining! I had somehow missed the sentence in the spec that says the same thing. Okay, now that I know where you're going with this, I can see the benefits of this approach; but still, I'm very skeptical. Here's a more elaborate write-up of my reservations.

In short, I think it:
- breaks part of the HTTP layer,
- potentially complicates API and client design,
- seems to conflict with another part of the JSON API spec,
- transfers the wrong state in the wrong representation, and
- does all that for too little real value.

> Relationships are mutable. Related resource URLs (identified by resource) are immutable for the life of a resource. Related resource URLs should always return the current resource(s) in a relationship.

Hmm. Isn't the point that we're doing REST via HTTP? And aren't we breaking that by invalidating the assumption that the same URL will always identify the same resource? If it doesn't, well, that's what redirect responses are for. Otherwise, I would assume that subsequent `200 OK`s will refer to the same resource. Now, we're suddenly adding a layer on top, where `id` and `type` in the payload become relevant.

The application might know about this, but I'm wondering about caches along the way. What about conditional requests, ETags and last-modified times? It looks to me like they would become more difficult to use, or even outright broken for these URLs. If I can't tell from the headers which resource a last-modified time applies to, the mechanism breaks. As for ETags, [the current RFC](https://tools.ietf.org/html/rfc7232#section-2.3) is not very specific how these should behave across different resources, but in our case the server needs to generate [weak](https://tools.ietf.org/html/rfc7232#section-2.1) ETags that practically never match for different resources. Not sure though how much this differs from current practices, but my guess is that results will vary. All the while we're still diverging from the HTTP spec, which ties [one URL to one resource](https://tools.ietf.org/html/rfc7231#section-2).

Then, API design. It seems to be up to the individual APIs to decide on the meanings of state-changing requests for these special URLs, and whether to allow them at all. For instance, can I request a `DELETE` or `PUT` on `http://example.com/article/1/author`? If allowed, the client must be prepared to handle conflicts resulting from changed relationships. (Which is special, because usually you can assume you're at least dealing with the same resource.) May the heavens have mercy if these decisions vary from resource to resource: You won't be able to tell what you can do with a related resource URL without looking it up in the spec; the complexity of the API will also inform client design. Speaking of clients: A client must also never be tempted to resolve an object's URL to the one it originally requested its representation from, because if it's a related resource URL, it might not allow all possible actions.

Wait a second... From ["Updating Resources"](https://github.com/json-api/json-api/blob/fa2b150d0cd6fc450e6e57999ca98da8ca9d6301/format/index.md#updating-resources-):

> The URL for a resource can be obtained:
> - from the self link in the resource object
> - for a data object, the original URL that was used to GET the document

This seems to apply here?

There's also the link object itself, which is a representation of the relationship. If the relationship changes, so should the representation &ndash; which it won't if there are no `type` and `id` members present, because the `resource` member stays the same. If there's also no `self` URL for the relationship – then why is there none? Because the state of the relationship is implied by the response body of the related resource? In [REST terms](http://www.ics.uci.edu/~fielding/pubs/dissertation/rest_arch_style.htm#sec_5_2_1_1), this conflates two different resources: the _relationship_ and the _related resource_, by hiding the state change of the former in the representation of the latter. This is interconnected with the HTTP difficulties mentioned above.

To sum it up, in my opinion we gain too little convenience for too much theoretical and practical confusion in this matter. I think it's better to stick to a clean separation of concerns; the use cases you describe can still be covered:

> Consider that you may not want to immediately fetch this related resource, or you want to know if it's been updated at a later time.

Want to check if a resource changed? Hit the canonical resource URL. Want to know the current state of a relationship? Relationship URL. Want to lazy-fetch a related resource? Canonical resource URL. Worried that the relationship changed? If it really matters... who's to say the relationship doesn't change right after you fetch the resource? If that's an issue, you will probably need something better than a magical URL. :) And even if you insisted, I'd argue that your need doesn't merit being elevated to the general case.

What's so bad about doing it this way that makes it worth to incur all the trouble above? Or am I chasing ghosts here? If so, I'd be terribly sorry for making you read all this. Otherwise, I'd suggest to change the spec. Ideally, the concept of immutable related resource URLs should be dropped; as an alternative, I guess they could be suggested for use in exceptional cases, with a strong word of caution as to the potential consequences, and with a fix for any problems with URL resolution.


>  What about conditional requests, ETags and last-modified times?

Your server can include linkage data in a link object if you want relationship values to factor into your caching scheme.

> And aren't we breaking that by invalidating the assumption that the same URL will always identify the same resource?

It depends on what you mean by the "same resource". A relationship's `resource` URL is identifying the "same resource" in the same way that a resource collection (e.g. `/articles`) is. Both URLs may return different members at different times.

>  It seems to be up to the individual APIs to decide on the meanings of state-changing requests for these special URLs, and whether to allow them at all. For instance, can I request a DELETE or PUT on http://example.com/article/1/author?

This is not in the spec.

> Or am I chasing ghosts here?

It's funny you say that, because I believe you are chasing the ghost of a concept that was formerly in the spec but is no longer for very good reasons. Namely, you seem to be asking for URLs that completely capture the member(s) of a relationship at a moment in time. This was previously handled for to-many relationships with URLs to multiple individual resources (e.g. `/articles/1,2,3`). Because of URL length limitations, this format breaks down for large to-many relationships. If you want to request the inclusion of such a link type in a link object, then you'll need to clear these hurdles first.

And if you want to make an argument that JSON API's definition of `resource` is in violation of HTTP, please reference the HTTP spec and make your case specifically.

Last but not least, please consider that relationships are maintained in a member named `links` for a good reason.


> Namely, you seem to be asking for URLs that completely capture the member(s) of a relationship at a moment in time. This was previously handled for to-many relationships with URLs to multiple individual resources (e.g. /articles/1,2,3).

What? No! I'm glad to see these gone! But it's good you brought up to-many relationships, because it made me take a second look at my ideas for `resource` URLs like `.../tags?filter[article]=1`. I realized: to-many relationships are not only more elegantly expressed in a form like `/article/1/tags`, they are also not problematic. That was a bit of an embarassing oversight, because it changes the balance of good vs. bad; so, thanks for bearing with me until now.

To-one relationships are what I was overly focused on, and I still think that here, as long as related resources have an independent life and URL, permanent `resource` URLs make things fall apart. I'll try to make my case more carefully.

Basically, while to-many relationships will act like distinct resource collections, to-one relationship resource URLs try to behave like two different resources at once. This makes it difficult to map between resource objects and resource URLs, and can break the association between URL and resource. (More details on my reasoning and possible HTTP breakage below.)

This ambiguity leaks into the spec. The spec states that a related resource URL is:

> A string, which represents a URL for the related resource(s) (a "related resource URL"). When fetched, it returns the related resource object(s) as the response's primary data.

[[Resource Relationships]](https://github.com/json-api/json-api/blob/fa2b150d0cd6fc450e6e57999ca98da8ca9d6301/format/index.md#resource-relationships-)

For example, `http://.../article/1/author` gets you a resource object that you'd like to treat as a `people`, because of its `type` and `id`. However:

> The URL for a resource can be obtained:
> - from the self link in the resource object
> - for a data object, the original URL that was used to GET the document

[[Updating Resources]](https://github.com/json-api/json-api/blob/fa2b150d0cd6fc450e6e57999ca98da8ca9d6301/format/index.md#updating-resources-)

So, clients are to use the original `GET` URL as the resource's URL; note also that `self` links are optional. (What if both conflict?) You can now end up with a `people` object bound to a relationship-specific URL (`.../article/1/author`), or in other words, a `people` object that's not a _real_ people object and can't be used like one. Or can it? How do I go about modifying or deleting its resource? This is now a relevant question.

As an example, imagine a user's profile info was first fetched through the `resource` URL of an author relationship. It is now in the application cache, keyed by `type` and `id`. Having looked at her author profile, the user realizes she needs to update her e-mail address. Given that you determine the resource URL to be `.../article/1/author`, how do you do that? Is that even safe?

On the other hand, the concept works for to-many relationships. This is what I previously failed to realize. Now I think it would be nice to find a way to make it work for all cases.

It looks to me like the problem could be solved by making `self` links mandatory for resource objects, or at least mandate that they must be included in these cases, and giving them priority over the original `GET` URL. It might be wise to make clear that the server should not accept change requests to the related resource URL (which, as you point out, represents a distinct resource after all).

Care should also be taken to implement this properly on the protocol level: HTTP servers should respond with temporary redirects to the proper URL, and HTTP clients should expect to receive and honor redirects (which might or might not be handled automatically and transparently in the implementation environment). This should be pointed out in the spec to create awareness. See the [Github API](https://developer.github.com/v3/#http-redirects) for an example.

Instead, the spec could also recommend using the proper URL for the related resource URL in such cases. (That is, having a mutable related resource URL which will be the permanent URL of the currently related resource.)

Before creating this issue, I tried to find a prior discussion of this topic via issue search; lots of results came up, but I didn't see anything specific to this issue. If you have any relevant pointers in this regard, I'd be glad to do some reading.

> Last but not least, please consider that relationships are maintained in a member named `links` for a good reason.

I don't know what you mean here. I'm all for having these, and keeping them together in a well-named place is a good call. The devil is in the details of creating additional entities that can't decide if they express the state of a _related resource_ or that of a _relationship_.

---

#### Resource Ambiguity and HTTP

As promised, here's a more detailed explanation of why I think permanent related resource URLs that yield the representation of a related resource are inherently broken.

> A relationship's resource URL is identifying the "same resource" in the same way that a resource collection (e.g. /articles) is. Both URLs may return different members at different times.

Okay, I originally thought the relationship's resource URL was meant to identify the related resource; you say it identifies a resource in its own right (as it should).

None of these interpretations is correct. In fact, the URL tries to do both simultaneously, fails out of necessity, and creates a confusing jumble of resources in the process.
- I tries to identify the related resource, because it returns that resource's representation (resource object), containing its `id` and `type`.
- It tries to identify a different resource, because this representation changes with the relationship, while the formerly related resource stays the same.
- It fails, because it simply CANNOT identify two different resources at once. It cannot identify one resource and yield the representation of a different resource.

This is different from collections, where identity and representation are well defined. In our case, though, we end up with a URL that returns the representation of which resource we can't be exactly sure. This is bad, because it complicates and potentially breaks things.

We're concerned with APIs realized on top of HTTP. That is, they're about querying and changing the state of resources by exchanging their JSON representations through HTTP. This binds us to HTTP's idea what resources are and how they relate to URLs.

HTTP operates on the assumption that a resource is identified by a URL, and that request and response messages will transfer (or refer to) representations of said resource, together with representation metadata (the header fields). This means that URL, representation and metadata in a given message refer to the same resource. See [[RFC7231]](https://tools.ietf.org/html/rfc7231#section-2) Sections 2 and 3.

In the response to the related resource URL, I need to send the headers for the correct resource. If I don't know what's the correct resource, how will I do that? For example, should I use `Last-modified`, `ETag` [[RFC7232]](https://tools.ietf.org/html/rfc7232#section-2) or `Expires` [[RFC7234]](https://tools.ietf.org/html/rfc7234#section-5.3) values of the person resource, or values which apply to the relationship? These headers are used for caching at various points along the message path and for conditional requests, in order to reduce traffic and server load. So now I cannot use these things? This is why I said that we break part of the HTTP layer.

If you argue that the related resource URL refers to its own special resource (the "same resource" from the quote; let's call it the _relationshippy resource_ here); and the URL yields this resource's representation, which happens to temporarily coincide with the representation of the currently related resource – then you're still getting in trouble when you try to use that representation as a resource object in the [JSON API spec](https://github.com/json-api/json-api/blob/fa2b150d0cd6fc450e6e57999ca98da8ca9d6301/format/index.md#resource-identification-):

> Every JSON API resource object is uniquely identified by a combination of its type and id members. [...]
> A resource object's `type` and `id` pair MUST refer to a single, unique resource.

So, either the resource object of the resource (that you're saying is _not_ the related resource) spuriously self-identifies as the related resource, in which case it cannot be a valid representation of the relationshippy resource; or we must conclude that the relationshippy resource _is identical_ to the related resource, which contradicts the original assumption.

I think HTTP redirects could be used to work around such situations. They would allow to preserve the integrity of URL, resource representation and metadata. So, the server should respond with a temporary redirect status code; and this behavior should be documented in the API spec.


@tilboerner I couldn't bring myself to read every word of what you've written here, but I'm just going to comment on the general theme:

> Isn't the point that we're doing REST via HTTP? And aren't we breaking that by invalidating the assumption that the same URL will always identify the same resource?

I think you may be conflating HTTP resources with JSON API resources. They are two completely different things, so you cannot read the HTTP spec and equate the word "resource" with what you regard as "resources" in JSON API.

You are quite correct in that an HTTP resource is indeed uniquely identified by a URI. But what is revealed behind that URI does _not_ need to correspond forever to the same JSON API resource(s). In terms of JSON API, **resources are just objects** that may compose an interrelated system. They may be mutated or moved around at will. There's absolutely no requirement that a given HTTP resource (URI) should always expose the same JSON API resources. Surely you don't demand that `http://www.example.com/logo.png` must forever serve the very same file. The situation is exactly analogous.

If this doesn't adequately address your concerns, could you perhaps condense your main points into a few paragraphs?


> I think you may be conflating HTTP resources with JSON API resources. They are two completely different things

Okay. That clears up a whole lot of confusion. From reading just the JSON API spec, the two concepts seemed to be heavily interwoven, almost identical, and I assumed intent. My mistake.

My concerns:

Mostly evaporated. One is left: In to-one relationships, the spec seems to allow a client to use a related resource URL in places where it probably wants to use a resource's unique URL. [Updating Resources](https://github.com/json-api/json-api/blob/fa2b150d0cd6fc450e6e57999ca98da8ca9d6301/format/index.md#updating-resources-) states that "for a data object", a resource's URL can be determined as "the original URL that was used to GET the document", with unclear precedence over an optional `self` link.

Let's say I `GET http://example.com/articles/1/author` and receive:

``` javascript
{
    "data": {
        "type": "people",
        "id": "9",
        // ... other attributes, no "links"
    }
}
```

Is this a "data object" in the document? Then I may now conclude that the resource's URL is `http://example.com/articles/1/author`. I may even ignore a `self` link to do so. Now I cannot update or delete the resource, even if `http://example.com/people/9` would let me. If the relationship changes, what I think is the resource URL of `{"type": "people", "id": "9", ...}` suddenly produces a resource object with a different `type` or `id`.

Is this observation correct? If yes, is this effect intentional? I think not, but if yes... why? Wouldn't it mean that the object from `people/9` is _de facto_ not identical to the one in the `articles/1/author` relationship? Queue more confusion?

---

One concern is new:

> In terms of JSON API, resources are just objects

Does JSON API consider a _resource_ and a _resource object_ to be the same thing, or are they different, but related concepts? Sometimes the terms seem to be used interchangeably, and sometimes in a manner that suggests a difference. For example, the [Resource Identification](https://github.com/json-api/json-api/blob/fa2b150d0cd6fc450e6e57999ca98da8ca9d6301/format/index.md#resource-identification-) section seems to allow both interpretations.

<del>Whichever it is, it would be helpful if JSON API had clearer, explicit definitions of these concepts, especially when they can be confused with those of the protocol it so heavily leans on.</del>

<del>Is there somewhere I can go and read up on this? Maybe I can come up with a suggestion for improvement. In the future, I'd like to avoid spamming the issue tracker out of ignorance...</del>

**Edit**: PR #376 addresses these things.


> Okay. That clears up a whole lot of confusion. From reading just the JSON API spec, the two concepts seemed to be heavily interwoven, almost identical, and I assumed intent.

You're not alone in this. The overlapping terminology is unfortunate, but hopefully this is soon cleared up for everybody.

> In to-one relationships, the spec seems to allow a client to use a related resource URL in places where it probably wants to use a resource's unique URL. Updating Resources states that "for a data object", a resource's URL can be determined as "the original URL that was used to GET the document", with unclear precedence over an optional `self` link.

Good point about precedence, but my take on this is that it's up to the server to decide what it wants to expose where and communicate about URLs accordingly.

> Now I cannot update or delete the resource, even if `http://example.com/people/9` would let me.

Says who? A server may allow update requests to target `http://example.com/articles/1/author`, too.

As long as the link remains intact, the two URLs are essentially synonymous. (Of course a server might not support such nested URLs at all; it's not a requirement.)

> If the relationship changes, what I think is the resource URL of `{"type": "people", "id": "9", ...}` suddenly produces a resource object with a different type or id

True, but again the right course of action depends on application intent and semantics.

Want to request person 9? Target `/people/9`. Want to request the author of article 1 even if the link now points to some other person? Target `/articles/1/author`.

There's no one right way to go about this; it depends on what it is you want to do.

> Wouldn't it mean that the object from `people/9` is de facto not identical to the one in the `articles/1/author` relationship? 

If the association between the article and person 9 has been removed, then clearly the URLs no longer are identical. I don't see why this should be surprising or undesirable... On the contrary, it would be highly strange if `/articles/1/author` continued forever to point to person 9 even if the relationship gets deleted!

Of course, sometimes it might indeed make sense to use a single canonical URI _everywhere_, and that's perfectly fine. The spec doesn't mandate that a `resource` member in a link object must point to a nested URL like `http://example.com/articles/1/author`. An application is free to always point to `http://example.com/people/9`. In that way, you can sort of establish a one-to-one mapping between JSON API resources and HTTP resources even though they're not strictly the same thing.

> Does JSON API consider a resource and a resource object to be the same thing, or are they different, but related concepts?

A resource object is the JSON representation of a resource. The spec defines it as follows:

> "Resource objects" appear in a JSON API document to represent primary data and linked resources.

The definition is awkward because, technically, resource objects are currently used to represent relationships too. I'm trying to get the definition changed.


> Resource objects" appear in a JSON API document to represent primary data and linked resources.

That definition is slightly inaccurate and should be reworded. I will review your PR @bintoro.

> A resource object is the JSON representation of a resource.

Yes.

> Want to request person 9? Target /people/9. Want to request the author of article 1 even if the link now points to some other person? Target /articles/1/author.

I would be careful here. General clients can't assume URL structure, which is just a _recommendation_.

@tilboerner The relationship URL won't be fetched unless a client wants to interact with the _relationship_. A client that wants the resource should instead fetch the _related resource URL_, which will return the related resource (the author resource, of type "person", in this case). The related resource object (a "person" in this case) will come complete with a self link which can be used to modify or delete the resource.


> I would be careful here. General clients can't assume URL structure, which is just a recommendation.

Absolutely. This is not about URL structure but the fact that you have two URLs that point to the same resource at a point in time but not necessarily forever.

If I understand correctly, at the heart of @tilboerner's dissatisfaction is this:

A generic client that fetches the data at time _T_ has seemingly no way of knowing if, at a later time _U_, the value it has for `links.author.resource` will refer to
- the person associated with the article now, at time _U_
- the person that _was_ associated when the data was fetched, at time _T_
- both (a permanent association).

This is because, AFAIK, a server is allowed return `http://example.com/people/9` as the related URL because supporting "true" related URLs is not mandatory.

Of course, there is a solution. By requesting the related resource in a compound document the client can compare `links.author.resource` and `linked[...].links.self`. If they are equal, the client can infer that the "related URL" is in fact a canonical URL instead of being permanently tied to that relationship.

To accomplish the same thing more directly we'd have dedicated keys:

``` json
{
  "type": "articles",
  "id": "1",
  "title": "Rails is Omakase",
  "links": {
    "self": "http://example.com/articles/1",
    "author": {
      "self": "http://example.com/articles/1/links/author",
      "href-linked": "http://example.com/articles/1/author",
      "href-canonical": "http://example.com/people/9",
      "type": "people",
      "id": "9"
    }
  }
}
```

A server that doesn't support true related URLs would set `href-linked` to `null`.

> That definition is slightly inaccurate and should be reworded. I will review your PR @bintoro.

The definition of _resource object_ is actually not in scope for the 'resource' PR. I want to address that too but am waiting for a word on (hopefully) the [ultimate solution](https://github.com/json-api/json-api/pull/357#issuecomment-76199818), which is to limit the meaning of "resource object" to resources _only_.


@bintoro:

> A generic client that fetches the data at time T has seemingly no way of knowing if, at a later time U, [what] the value it has for links.author.resource will refer to ...

Yes, in a way that's what I'm after; but I think everybody would be better off if a client never had to ask that question, because it only ever interacts with that URL in a relationship context. But as I said, I think you can design a compliant API where it won't, creating the possibility of a nasty bug. This depends on how well the API designer understands the possible interactions in the system.

I think that attributes like `href-linked` and `href-canonical` wouldn't help, because the bug would take effect _after_ obtaining a resource object through a GET request, when the origin of the URL is not necessarily known.

> As long as the link remains intact, the two URLs are essentially synonymous.

Only if I can make the same requests and get the exact same results. The spec doesn't require that. I wouldn't expect it to be true in the general case, because implementing `PUT` for related resource URLs generally requires additional complexity (at least on the client side) due to their changeable nature; and accepting `DELETE` would be madness, except under very specific circumstances.

As far as I can see, a client _can_ end up with a resource object that "behaves" differently from others, by fetching it from a related resource URL and following the spec.

> If the association between the article and person 9 has been removed, then clearly the URLs no longer are identical. I don't see why this should be surprising or undesirable...

If a client uses the _relationship resource URL_ as a _resource URL_, which it is allowed to do, the knowledge of its "relationshippy", time-sensitive nature is lost. You can't know what a client implementation does with this information. For example, and I just realized this: if I understand the point of a "resource URL" correctly, the client would have all reason to assume that it can re-fetch a resource object, whole or in part, from its resource URL and use the result, without verifying `type` and `id`, to maybe follow a relationship, or to update a subset of the attributes of a local resource object. It would interact with a different resource without realizing it. _This now looks worse than I'd previously thought._

@dgeb

> The related resource object (a "person" in this case) will come complete with a self link which can be used to modify or delete the resource.

Not necessarily. The spec makes `self` links completely optional. API designers must recognize this need by themselves, as they must recognize that `self` links must supersede GET URLs when determining a resource's URL.

**In summary,** I think that, due to the openness of the spec, the concept of pemanent related resource URLs exposes the possibility of a major bug. For it to come into effect, there only need to be permanent related resource URLs and an arbitrary detail in how a client determines a resource's URL. It's a matter of opinion if the mere possibility of this constitutes an inherent flaw that makes the spec "broken", or if it is simply one of the details that API and client designers need to deal with.

The time-sensitive nature of this bug, and its dependency on an implementation detail in the client, make it hard to discover, replicate and test for, unless you're already aware it exists. I'm not sure everybody reading the spec will realise it does.  If you want to keep it in the spec in order to retain flexibility, you're pushing this responsibility on the people who design and implement specific APIs.

I'd be happiest if the spec could be changed in a way that eliminates this possibility. Alternatively, people should be made very aware that:
- linkable resource objects SHOULD include a `self` link;
- when determining resource URLs, `self` links SHOULD take precedence over the original GET URL.

This could be a prominent part of the recommendations dealing with [relationships](http://jsonapi.org/recommendations/#urls-relationships).


@tilboerner, I read your comment three times and barely understood a thing. I don't mean to offend, but you seem to be rambling on about some vague doomsday scenario without really articulating what exactly it is.

If a client fetches both URLs to which I referred above as `href-linked` and `href-canonical`, it knows where the "relationshippy" resource is and where the specific resource (with the known ID) is. It can perform any operation with no ambiguity at all. What more could the client possibly want?

By all means, let's get to the bottom of this, but no one will be able to address the underlying issue if you don't explain it clearly.

I think the best way forward would be for you to put together a simple step-by-step example of a client-server interaction that illustrates this "major bug" of yours. Then we'd have something concrete to discuss.

> Only if I can make the same requests and get the exact same results. The spec doesn't require that. I wouldn't expect it to be true in the general case, because implementing PUT for related resource URLs generally requires additional complexity (at least on the client side) due to their changeable nature; and accepting DELETE would be madness, except under very specific circumstances.

I disagree completely. Consistent behavior across endpoints is what I would expect from a server. There are many ways a server can do stupid things; should the spec cover every possible case?

Again, you say things like "additional complexity" and "pure madness" without even attempting to explain your thinking.

In my implementation (albeit just server-side), supporting all methods at every endpoint added **zero** complexity and didn't feel like pure madness at all. So I have no idea what you're talking about.


Sorry, I thought I'd made clear how I think a client would come to use a `related resource URL` for a `resource URL`, and I also thought that everything else would be obvious from that point, given the mutable nature of relationships. Apparently it's not, so I wonder if I'm again misunderstanding something that's very obvious to you. Anyway, here's an...

**Example Scenario:**

Just the first thing that comes to mind.

Adam (A) co-administrates a blog, but wants to leave for reasons that don't matter. He decides to terminate his account. He conveys his intentions to:

Olga (O), the blog's other administrator, who decides to transfer authorship of Adam's articles to herself, for the sake of this example, or for SEO reasons, or so she can receive messages sent to article authors, whatever.

Here's how it plays out:
1. Adam uses his client ("client A"). He sees a list of articles, at the top is one of his own:
   
   ``` javascript
   {
     "type": "articles",
     "id": "13",
     "title": "Rails is Omakase",
     "links": {
       "self": "http://example.com/articles/13",
       "author": {
         "self": "http://example.com/articles/13/links/author",
         "href-linked": "http://example.com/articles/13/author",
         "href-canonical": "http://example.com/people/1",
         "type": "people",
         "id": "1"
       }
     }
   }
   ```
2. Adam activates the `[about the author]` link of this article, because it's the closest thing that'll get him to his own profile.
3. Client A requests the current author and remembers the URL it used: `GET http://example.com/articles/13/author`.
   
   (I know, "current author". Maybe on this blog, authors change a lot? This is just an example. All that matters is that a resource object is fetched from a related resource URL, i.e., from `href-linked`.)
4. Client A receives
   
   ``` javascript
   {
       "data": {
           "type": "people",
           "id": "1",
           "name": "Adam",
           "admin": true,
           "links": {
               "self": "http://example.com/people/1"
           }
       }
   }
   ```
5. Client A takes the "data object" and associates it with resource URL `http://example.com/articles/13/author` (it could also cache the object together with the resource URL, but I don't think this scenario needs it). `self` link or not, the client implementation happens to always use the `GET` URL in such cases.
6. Client A displays the `people` data to Adam in an editable profile.
7. Adam activates `[Delete profile]`.
8. Client A makes sure:
   - that Adam really wants to do this and
   - whatever else it wants to make sure.
9. Client O changes the `article/13/author` relationship to `{"type": "people", "id": "2", "name": "Olga", ...}`.
10. Client A sends request to the resource URL of Adam's people object: `DELETE /articles/13/author`.
11. Server deletes Olga's account, because Adam is authorized to do so.
12. Client A receives `204 No Content` and indicates success.
13. Adam deletes his login from his password manager or emigrates to Peru or does whatever he pleases, because it doesn't matter at this point.

This could have been avoided if the client had preferred the `self` link over the `GET` URL. This means that, in general, objects that can be part of relationships should always include a `self` link.

No?


@tilboerner Thank you, that was very explicit. From your prior comment I did get the general gist of it, but I couldn't figure out what the _problem_ was. And I'm afraid I'm going to have to disappoint you: I still don't see what the problem is — as far as JSON API is concerned.

It seems to me you're asking JSON API to prescribe rules for _application logic_, and that's obviously not in its scope. I mean, it's the client's responsibility to behave in a way that is in line with its objectives and intent.

In the example scenario, the client wants to delete Adam's account. Adam's account can be targeted at `/people/1`, and the client knows it (or at least should know, since the JSON API format provides all the necessary information). Furthermore, that's the _only_ URL that can unequivocally be said to represent Adam's account. I believe this is not in any dispute here.

But, it turns out, the client issues a DELETE to `/articles/13/author`, a URL that points to the author of artice 13, definitely not guaranteed to be Adam.

This is nothing but a programming error in the client. I don't know what else to say. What does this have to do with JSON API?

> self link or not, the client implementation happens to always use the GET URL in such cases.

And that's a bug. Why on earth would it do that, when it's clearly not always the right thing to do?

**EDIT:**

No, wait... Are you saying your ultimate grievance is the fact that the `self` member isn't required? You've posted all these walls of text to make a point that could have been stated in one paragraph? Oh dear :laughing: 

You're right, the `self` member is important, although an application can always provide another route to the correct resource. Making `self` a SHOULD might be worthy of consideration, but isn't it up to the server to decide? Maybe an application doesn't want to give out canonical URLs. What value does it add to require them to? Obviously if there's no canonical URL and your only starting point is the article, you can't delete Adam's account. But then that's a design decision in the system, which is none of JSON API's business.


> It seems to me you're asking JSON API to prescribe rules for application logic, and that's obviously not in its scope.

Yes. I guess I was trying to say that JSON API, mainly through the permanent related resource link, makes it way too easy for people to shoot themselves in the foot. The spec seemed to outright suggest it as the first practical thing to do. So I figured that's a problem inherent in some of the choices JSON API makes. But then, as I said two comments above, one can also consider this one of the details implementers need to deal with.

If there's an ultimate grievance, it's the former `resource` link, now `href-linked`. For to-one relationships, I find it unnecessary and too problematic; and JSON API doesn't reflect that in a way that makes me happy.

Anyway, the presence (and name) of `href-canonical` mitigates the problem somewhat, so there's that. As for the walls of text, yeah, I know. :eyes: What can I say, I was figuring out some of JSON API's concepts and intents during this issue, so thanks for helping me with that. :)
