Schemas

Before we release version 1.0 I think we should discuss the idea of adding support for schemas. Currently we can define links at the top level, or in the individual resources. Links can contain hrefs or url templates to help resolve associated resources. However I think we will want to be able to define more schema information for a resource than only its links.

I propose that we replace the top level links with a top level `types` key, which will contain a definition for each type returned in the response document. The type can be either a full type definition or an href to the full definition. Providing an href to the type definition allows for larger type definitions to be provided without the overhead of including them in every response (clients would be expected to cache them and not fetch them each time).

For example:

Before:
```json
{
  "links": {
    "posts.comments": "http://example.com/comments?posts={posts.id}"
  },
  "posts": [{
    "id": "1",
    "title": "Rails is Omakase"
  }, {
    "id": "2",
    "title": "The Parley Letter"
  }]
}
```

After:
```json
{
  "types": {
    "posts": {
      "links": {
        "comments": "http://example.com/comments?posts={posts.id}"
      }
    }
  },
  "posts": [{
    "id": "1",
    "title": "Rails is Omakase"
  }, 
  {
    "id": "2",
    "title": "The Parley Letter"
  }]
}
```

or 

```json
{
  "types": {
    "posts": "http://example.com/types/posts"
  },
  "posts": [{
    "id": "1",
    "title": "Rails is Omakase"
  }, 
  {
    "id": "2",
    "title": "The Parley Letter"
  }]
}
```

By refactoring into types we leave ourselves the ability to add additional information about the capabilities of a resource. These might include the filters it supports, the methods available to the current user (would require resource specific types - see below), the attributes it provides (maybe with more detail), etc.

Each resource should also be able to provide a type definition the overrides parts of the top level type definition. These hashes would be merged with the resource taking precedence. This would preserve the idea of resource level links.

For version 1.0 we would not need to define the additional capabilities of the type. This would obviously be a breaking change, but it gives us a lot more flexibility down the road.

When I discovered JSON API for the first time I liked its simplicity despite all the capabilities. I thought that it's simple enough to quickly implement a client anywhere I need even if there no existent one for my case (at least two cases: for AngularJS and for desktop Java application). And I attribute this to the advantages.
I don't wish JSON API becomes something like WSDL.

About caching. If JSON API is HTTP-based and RESTful, you can not expect a client to behave other than a normal HTTP RESTful client. Actually, it should be possible to extend any general RESTful client with JSON API media type. Other words, in the most common case it would make additional requests with 304 response anytime for any schema. This and include a whole schema in each response is not desirable in some of the cases described below.

There are at least two fundamentally different use cases for an API spec. These are the public and the private APIs. And in the ideal case the usage of JSON API spec should not be complicated for the one case more that for another.
JSON API is so great that it makes my life easier even if my API is used only internally between my server and my GUI client. I don't need to respond with any schema because the client "just knows" it. All the features are determined at the development level.
On the opposite side, it's desirable for a public API's client to provide comprehensive information about resources regardless of whatever future changes. It allows to implement just one client which can be used by any third party vendor to access a public API.

I disagree with replacing the `"links"` because it breaks the simplicity in many cases where schemas not needed at all.
But I would uphold the `"types"` top-level object as an optional feature, which will allows an API to be self-documenting.


I agree on the simplicity of JSON API being one of its benefits. I expect many implementations to ignore any sort of schema, including "links". If it's a private API it will be more efficient to just code the urls to begin with and not pass them down in every response. Since they will rarely vary why suffer the overhead?

But in the case of a public API, schema information such as "links" becomes more useful. My proposal is only to leave room for this additional schema information in the future. By leaving links at the top level and the resource at the lower level the structure is inverted (more specific above more general). To add additional schema information down the road we would need something ugly like this:

``` json
{
  "links": {
    "posts.comments": "http://example.com/comments?posts={posts.id}",
    "comments": "http://example.com/comments/{comments.id}"
  },
  "fields": {
    "posts": ["title", "abstract"],
    "comments": ["body"]
  }
  ...
}
```

If we make type and links both acceptable top level elements we will end up with a very confused looking document, or an extra set of priority rules to confuse issues. We will also have namespace collisions with schema data and resource names, like we do with "links" right now. In the above example "fields" would become a reserved resource name. "Type" is already reserved along with "links".

I see leaving "links" at the top level as closing the door on the idea of future schema support.


Enclosing the `"links"` into the extra `"types"` object should not affect performance. Just this excess complexity frustrating me a bit =\

I saw something very close to what you proposed on [Extending](http://jsonapi.org/extending/) page. Also:

> Note that according to the RFC, profiles are defined not to alter the semantics of the resource representation itself, but to allow clients to learn about additional semantics (constraints, conventions, extensions) that are associated with the resource representation, in addition to those defined by the media type and possibly other mechanisms.

It uses **already reserved** `"meta"` object for its purposes. 
What do you generally think about using the `"meta"` object for you feature (e.g. put `"types"` inside)?
What do you think about `profile` as a schema?

Profiles format/contents is not conventioned. And what [Mark Nottingham says](https://www.mnot.net/blog/2012/04/17/profiles):

> This is kind of the nice thing about profiles; because they don’t require a specific form, you can make them mean what you want to. The challenge, I think, is to come up with conventions and tools that promote good practice and reinforce the Web, rather than turning this into just another layer of media types, or something like WSDL.

[RFC6906 Section 1](http://tools.ietf.org/html/rfc6906#section-1):

> Sometimes, it would be useful for
>    servers and clients to include additional information about the
>    nature of the resource.  This would allow a client understanding this
>    additional information to react in a way specific to that
>    specialization of the resource, where the specialization can be about
>    constraints, conventions, extensions, or any other aspects that do
>    not alter the basic media type semantics.

JSON API is our "what we want". And what we want particularly is _to include additional information about the nature of the resource_.
So... We may use the `profile`! Yay!

JSON API is a particular media type, the case in the World Wide Web. For this case we might define a simple straightforward `profile` format using already known terms (`type`, `filters`, `include`, `links`, `fields` etc.) without any additional complexity.

``` javascript
{
  "links": {
    "posts.comments": "http://example.com/comments?posts={posts.id}"
  },
  "posts": [{
    "id": "1",
    "title": "Rails is Omakase"
  }, {
    "id": "2",
    "title": "The Parley Letter"
  }]
  "meta": {
    "profile": "http://api.example.com/posts/profile"
  }
}
```

``` javascript
{
  "profile": {
    "posts": {
      "links": {
        "comments": "http://example.com/comments?posts={posts.id}",
        "author": "http://example.com/user?id={posts.author}"
      },
      "fields": ["id", "title"],
      "filters": ["id", "author"],
      "include": ["author", "comments"],
      "sort": ["id"]
    }
  }
}
```

Does it look great?

And there is a really cool feature with `profile`. The root profile! It may defines all the types, so they all can be cached once for a long time.

``` javascript
{
  "profile": {
    "posts": {
      "links": {
        "comments": "http://example.com/comments?posts={posts.id}",
        "author": "http://example.com/user?id={posts.author}"
      },
      "fields": ["id", "title"],
      "filters": ["id", "author"],
      "include": ["author", "comments"],
      "sort": ["id"]
    },
    "photos": {
      "links": {
        "author": "http://example.com/user?id={comments.author}"
      },
      "fields": ["id", "title", "src"],
      "filters": ["id", "author"],
      "include": ["author"],
      "sort": ["id", "title"]
    },
    "comments": {
      "links": {
        "author": "http://example.com/user?id={posts.author}"
      },
      "fields": ["id", "body"],
      "filters": ["id", "author"],
      "include": ["author"],
      "sort": ["id"]
    }
  }
}
```


**The suggestion**: `"profile"` could be an exposed object (other words, included into the response). This is exactly the same behaviour as in the `"links"`.
If `"profile"` is a string it's considered as `href`. If it's an object it's considered as `profile` definition.

This would reduce the HTTP requests amount in reasonable cases and also is compatible with the proposal from the first post of the discussion.


> What do you generally think about using the "meta" object for you feature (e.g. put "types" inside)?
> What do you think about profile as a schema?

I think adding things under the `meta` tag could be good. But I don't know if `meta` was intended to have structure and defined attributes in it.

> Does it look great?

To me it looks pretty good. I still don't see the need for a top level `links` if we have the profiles. It just makes for more complication in both the client and the server to support two types of definitions, not to mention which one takes priority.

> If "profile" is a string it's considered as href. If it's an object it's considered as profile definition.

I agree. This could result in this:

``` json
{
  "profile": {
    "posts": {
      "links": {
        "comments": "http://example.com/comments?posts={posts.id}",
        "author": "http://example.com/user?id={posts.author}"
      },
      "fields": ["id", "title"],
      "filters": ["id", "author"],
      "include": ["author", "comments"],
      "sort": ["id"]
  },
  "posts": [{
    "id": "1",
    "title": "Rails is Omakase"
  }, {
    "id": "2",
    "title": "The Parley Letter"
  }]
}
```

or 

``` json
{
  "profile": {
    "posts": "http://api.example.com/posts/profile"
  },
  "posts": [{
    "id": "1",
    "title": "Rails is Omakase"
  }, {
    "id": "2",
    "title": "The Parley Letter"
  }]
}
```


I can't help but think if json-api wants to go down this path then the W3C recommendations/specifications using RDF and JSON-LD should be the way forward:
- http://www.w3.org/TR/2014/PR-rdf11-concepts-20140109/
-  http://www.w3.org/TR/json-ld/

[Section 6.8 of JSON-LD](http://www.w3.org/TR/json-ld/#interpreting-json-as-json-ld) prescribes use of the HTTP Link header for describing resources.


@ahacking 
The spec does not relies on headers now. Not sure it's would be a good idea.
IMHO the idea of JSON APi being "the best" is doomed. http://xkcd.com/927/
I'm trying to make my proposals as much compatible with current concerns as possible. #317 is a bit radical, thereby opened for community complaints.
The spec is almost 1.0. Incompatible changes are more likely to be doomed, only few the most reasonable ones have a chance within near future.

@lgebhardt 

> I think adding things under the meta tag could be good. But I don't know if meta was intended to have structure and defined attributes in it.

The spec prescribes to put the profile link under the `"meta"`.
Introducing the possibility of the expanded `"profile"` object under the `"meta"` would be a nice extension, without an influence on the current format. So the profile format would be the only subject to discuss.

I think, some textual information should be allowed somewhere (`"comment"` field?), so it's possible to make some nice descriptions like in the last example here http://jsonapi.org/extending/, but within json.


I guess I was thinking the W3C recommendations carry some weight.

I don't think json-api can be the anti bike shedding weapon given where it is and what W3C is doing.

I'm kind of interested in pulling together the W3C stuff so I might have to kick off a project in that direction  when I get some free cycles, perhaps others may share a similar interest. I see an opportunity to make RDF more accessible now JSON-LD has pretty much cleared the way forward for describing resources in JSON.


Looking at the JSON-LD spec, I think it makes more sense for jsonapi to remain more tightly focused on being simple to use for a single, standalone web application. Let it be the ZeroMQ to JSON-LD's AMQP.

Federation support comes at a cost in complexity, so you need layered architectures to deal with it. JSON-LD has already accounted for that, by providing migration paths from simpler JSON formats to the more complex (but also more comprehensive) JSON-LD format.


@ncoghlan JSON-LD is about describing resources and links between them.  The same problem JSON-API is trying to solve, and this schema proposal is trying to solve. At least 20 years of development has gone into RDF which is why it is a W3C recommendation; like HTTP and HTML5, the significance of W3C recommendations should not be underestimated.

The following is a brief primer on JSON formats, including JSON-LD http://sookocheff.com/posts/2014-03-11-on-choosing-a-hypermedia-format/  which may help to take some of the mystery out of it.

Unlike JSON-API schema which is undefined currently, there are published specifications and wide array of tools and implementations for RDF/JSON-LD.

One of the things that I found interesting was that JSON-LD allows you to describe a resource and its links and also describe context specific renditions (eg for people or proprietary JSON-API based JSON for your applications) as well as fully normalized forms. This is in some ways similar to the reference document vs transport document approach that JSON-API uses, but is far more useful and powerful.

> Federation support comes at a cost in complexity, so you need layered architectures to deal with it. JSON-LD has already accounted for that, by providing migration paths from simpler JSON formats to the more complex (but also more comprehensive) JSON-LD format.

I am not sure where you got the notion of cost in complexity from.  The point of schema is to describe resources and give meaning to content, which can be used by developers, tools and indeed generic clients. Making that schema available at some URL of your choosing is inherently federated because URLs are a federated name space, care of the DNS.  This applies to schema whether published as proprietary JSON-API or W3C JSON-LD.  Of course JSON-LD/RDF certainly allows and encourages re-use of schemas (called vocabularies).

I am not sure what is so complex, resources simply specify a context and then whatever native JSON they like (which is defined by the context).

eg a description of a music product that can be purchased and downloaded:

```
{
  "@context": "https://w3id.org/payswarm/v1",
  "id": "http://domino-records.com/arctic-monkeys/albums/humbug",
  "type": ["Asset", "Album"],
  "creator": { "fullName": "The Arctic Monkeys" },
  "title": "Humbug",
  "assetContent": "http://domino-records.com/download/albums/humbug",
  "assetProvider": "https://bluebank.com/i/domino"
}
```

Are you saying that adding a `@context` to the json is too complex? If your application doesn't care about schema then it can just use the fields it knows and loves.  But if it cares about schema or maybe doesn't understand all your proprietary fields it can seek understanding via the context which can map your proprietary json into a common vocabulary, or failing that, obtain enough description of the content to present the information meaningfully to a user.  All of those uses cases are handled elegantly.  The context is after all static content defined by rigorous specifications, so what is the problem for json-api other than giving you something that works. Or are you saying you would prefer that json-api develop its very own NIH schema description language in a vacuum?

JSON-API is trying to do aspects of what JSON-LD already does, albeit in a very short-sighted fashion.  I also think over the medium term if you want your services to integrate in a meaningful way on the web, there will be no choice but to describe JSON-API resources using JSON-LD/RDF.  vCard is described by RDF, social networking (FOAF - friend of a friend), products and services (goodrelations, used by google and online retailers), projects (DOAP - description of a project, can even use your npm package.json), digital assets distribution and [payments](https://web-payments.org/) (payswarm) are already described that way, and of course the huge amount of schema already available at http://schema.org/docs/full.html

To suggest JSON-API support schema and ignore W3C recommendations, given there is such a large body of specifications, tools, implementations and schema would IMO be a huge mistake and a missed opportunity for interoperability.


Oh, I see what you're saying now. Yes, if JSON API were to support schemas at all, then referencing a JSON-LD context would likely make more sense than coming up with a custom approach.

(I came into this issue by way of @aranfir's reference from #320, so my original comment should probably be read as being at least equally skeptical of the benefit of the bespoke proposals as it is of JSON-LD)

I'm not sure that any form of schema support is actually needed for 1.0, though. The current "links" field is definitely the "simplest thing that could possibly work" in a web service context, and referencing a JSON-LD schema would be a case of adding fields, rather than removing them.


I don't have the time to fully investigate currently but based on what I have read regarding JSON-LD (and HYDRA) I believe it should be possible to describe JSON-API based endpoints in JSON-LD.  The top level links stuff in json-api would be largely redundant at that point but the important thing is its not a mutually exclusive decision, that single @context in the top level object is all that's required to fully document an API.

I proposed a poor mans JSON-LD in #311  but honestly I've decided to bow out of json-api as think there is more to be gained leveraging existing RDF vocabularies and describing my own apis using [HYDRA](http://www.markus-lanthaler.com/hydra/) (which leverages JSON-LD).

You can play with the generic hydra client [here](http://www.markus-lanthaler.com/hydra/console/?url=http://www.markus-lanthaler.com/hydra/api-demo/), response is on the left, documentation/schema on the right. It would be cool to see something like that working with JSON-API based endpoints.

I feel that by leveraging JSON-LD  I can implement native clients with optimal json for my use cases that I can't currently express with json-api, and since I will at the same time have a FULLY documented api, generic clients can also work.  For me its powerful to be able to describe the semantics of the resources and the API fully so that I have excellent docs for developers and I will have a better chance of keeping things consistent from DB through to client (generation of tests and serialization code is possible).


Yes, it makes sense... But extending JSON API with JSON-LD is not so clear now.

Actually, you may use JSON-LD even now, because it's intended be able to extend any existing structure. After #311 it should be even easier (no links object in the resource definition).

The spec tells that there is "should not" be other top-level objects, but doesn't tell "must not". So there _may exist valid reasons in particular circumstances when the particular behavior is acceptable or even useful_.

After all, it's not a bad idea to left such complexity to JSON-LD, where it is well-backed.


A possible use case for schemas: #361


Marking as enhancement, as it's not a back-compat hazard.

Personal note: I'm not sure I want to support this in general, but we'll see.


This could definitely be considered for an extension in a post 1.1 world (when we have proper support for extensions). Our current roadmap can be found here: http://discuss.jsonapi.org/t/json-api-weekly-meeting-june-22nd-2015/23

I am giving this a close now, but I've made a note in a master issue (#794) to re-visit this when we're ready.
