Make 201s more RFC 7231 compliant

The “Creating Resources” section [says](http://jsonapi.org/format/upcoming/#crud-creating-responses-201) that a `Location` header **SHOULD** be sent on a 201 response.

But [RFC 7231 § 6.3.2](http://tools.ietf.org/html/rfc7231#section-6.3.2) says:

> The primary resource created by the request is identified by either a Location header field in the response or, if no Location field is received, by the effective request URI.

A (hypothetical) implementation of this RFC 7231 text would infer the wrong URI from JSON API’s 201 response without `Location`.

To avoid confusing implementors, I suggest elevating the requirement for `Location` to a **MUST**, if that’s OK by your compatibility policy. If not, then maybe just include a note along the lines of:

> If you choose not to send `Location` with a 201 response, you will violate RFC 7231 § 6.3.2.

JSON API resources are not HTTP resources. The RFC requirement is based on resources being uniquely identifiable by their URIs, which is not the case for JSON API resources.

Consider bulk operations (that are planned to become a core part of the spec AFAIK). The server might not even support canonical multi-resource URIs, at least not for arbitrarily large collections. In that case there simply _is_ no single URI that would be guaranteed to return those newly created resources.

Of course there are solutions to this, such as assigning an identifier to the operation as a whole, which could then be used as part of a request URI to retrieve the same set of resources. But specifying a MUST-level requirement for this sort of thing seems a bit too much, don't you think?


@bintoro 

> JSON API resources are not HTTP resources.

But the HTTP status code 201 is about HTTP resources, not some other arbitrary notion of “resource.”

> In that case there simply _is_ no single URI that would be guaranteed to return those newly created resources.

Then the server should not respond with 201.


Of course, this is a fairly minor issue.


@vfaronov That's an entirely valid point. My view is that REST is actually very impractical in reality and that it's a fool's errand to try to shoehorn complex API design into strict HTTP semantics. How the whole world got into this bandwagon is beyond me.

The options are:
- Adhere to HTTP/REST principles and suffer the limitations with no apparent offsetting gain.
- Consider HTTP as a transport protocol and ignore the inconvenient semantics.
- Roll your own protocol.

I think the middle option offers a happy balance.


As you suspected, a new MUST is probably a no-go for compatibility reasons. 

However, I would be ok changing the sentence that reads:

> The response **SHOULD** include a Location header identifying the location of the newly created resource.

to instead say:

> The response **SHOULD** include a Location header identifying the location of the newly created resource, in order to comply with [RFC 7231](http://tools.ietf.org/html/rfc7231#section-6.3.2).

That change seems less obtrusive to me than a standalone note, which would, imo, be too much text to add to the spec for this issue.


@bintoro “REST” and “HTTP semantics” are to a large degree orthogonal. JSON API is clearly designed to be RESTful, but it doesn’t have to use HTTP status codes to communicate operation results—it can use its media type instead. The spec already defines [error objects](http://jsonapi.org/format/upcoming/#error-objects) that can refine the meaning of the 4xx/5xx status code they were served with. Similarly, in cases where 201 is not applicable but 200 is insufficient, JSON API could define some extra object fields to be served with 200.

But I do not intend to propose major changes to the spec.


@ethanresnick I agree. Should I submit a PR?


> “REST” and “HTTP semantics” are to a large degree orthogonal.

I'm really curious what you mean by this, given that HTTP explicitly references REST as a design principle.

Obviously HTTP doesn't _have_ to be used RESTfully, but that alone hardly makes them orthogonal.

> JSON API is clearly designed to be RESTful, but it doesn’t have to use HTTP status codes to communicate operation results—it can use its media type instead.

What would this accomplish? If you want to interact with an HTTP client, there's got to be _some_ status code. I mean, how is inventing your own status code & message body scheme a lesser offense than omitting a `Location` header from an otherwise standard 201 response?


@bintoro 

> Obviously HTTP doesn't _have_ to be used RESTfully

That’s what I meant by “orthogonal,” perhaps not the best wording.

> I mean, how is inventing your own status code & message body scheme a lesser offense than omitting a `Location` header from an otherwise standard 201 response?

I’m not sure what you mean by “inventing your own status code.” I suggested 200 (OK) for cases where a more specific status code does not apply. 200 is a standard code that can be used in most successful responses, except for a handful of cases where HTTP explicitly requires a different code (such as in [RFC 7231 § 4.3.4](http://tools.ietf.org/html/rfc7231#section-4.3.4)).

I’m also not sure what you mean by “message body scheme.” Did you mean “media type”? A cornerstone of HTTP is that it is media type agnostic. As an implementor, you choose a media type that serves your purposes (or define your own), and “drop it into” the protocol. The JSON API spec defines the `application/vnd.api+json` media type. This definition can easily incorporate new fields to communicate more information between the server and the client.

If you wish to continue this discussion, let’s bring it to another venue such as email, as it seems off-topic to this issue.


@vfaronov I may have miscommunicated my original response. Just because JSON API resources and HTTP resources are not 1:1 the same thing, it does not follow that there are no HTTP resources created with JSON API POST requests.

As long as the records you've created become accessible at some URI, you will have created HTTP resources as well, and **201 is the correct response**. Where the HTTP spec falls short is its assumption that there is always a well-defined "primary resource", suitable for presentation as `Location`. But difficulty in producing such a URI does not magically make the status code itself inapplicable.


@bintoro I see your point.

I prefer to use HTTP status codes as a channel of standardized machine-readable information, which means that if I cannot use a status code _compliantly_, I’d rather not use it at all. [RFC 7231 § 4.3.3](http://tools.ietf.org/html/rfc7231#section-4.3.3) does not require a 201 response when a resource is created (that’s only a “SHOULD”), so 200 is compliant in this case.

But I realize that this is not the only possible approach. I also don’t like that part of RFC 7231 I quoted in the original comment—it wasn’t present in [RFC 2616](http://tools.ietf.org/html/rfc2616#section-10.2.2) and it contradicts real-world usage. So I do not insist on any particular solution.


@vfaronov Yes, a pr would be great! In the PR, please update version 1.1, but leave 1.0 as is.
