RFC: URLs in links

- https://github.com/json-api/json-api/issues/840#issuecomment-141631828
- https://github.com/json-api/json-api/pull/834#issuecomment-131192713
- https://github.com/json-api/json-api/pull/834#issuecomment-141631788

>  relative references are simply not allowed.

So, links should be `"links": { "self": "http://example.com/link_author/1"}` not `{"links": { "self": "//link_author/1"}`

How about a link such as `"links": { "self": "//link_author/1"}` discussed in [ActiveModel::Serializers](https://github.com/rails-api/active_model_serializers/pull/1246#discussion_r41348842)


cc @beauby 


:-1: 


This already has a meaning in URLs: it's a "network relative" URL, though it's often called "protocol relative." So this isn't going to work, directly.


When we take a look at other specs: 
- JSON-LD defines `@base` annotation to support relative IRI-s (http://www.w3.org/TR/json-ld/#base-iri)
- HAL, Collections+JSON uses URI term, which can be relative

JSON API uses URL (as @steveklabnik said), so just use the `full` version.


Wait wait wait, I think there has been a huge misunderstanding here. I forgot to put the domain in `//example.com/link_author/1` in a test for a PR supporting resource-level links in AMS, which resulted in a debate which I _believed_ was about whether protocol-relative URIs were allowed in the spec (which to my knowledge are at least not explicitly forbidden).


@beauby In most cases urls are used by other systems (not client apps) to crawl the resources, so that the need for using full urls. 


Oh, ok. 
Personally, I don't use this feature and dislike, especially when JSON API is not used to provide static content ;).
I don't imagine a situation when a resource, that is accessible using HTTPS, should be accessible using HTTP. 


As far as I can tell, [json-schema uri](http://json-schema.org/latest/json-schema-core.html#anchor18) requires the uri format to be a URI [RFC3986](http://xml2rfc.ietf.org/public/rfc/html/rfc3986.html#generic-syntax) and a valid JSON Reference [json‑reference](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03), so relative and absolute are both allowed by the schema, but the JSON API spec recommends using absolute, but does not forbid relative?


So, I've been thinking about this today and I see a few options:
1. Interpret JSON API 1.0 as having allowed relative references but not having provided a mechanism for setting the base URI in a JSON API document, in which case, per RFC 3986, the base URI for all links in the document would be URI at which it was requested.
2. Interpret JSON API 1.0 as having had undefined behavior wrt relative references, such that we can define whatever behavior we want now, without it being a b/c break. This would give us an opportunity to define a mechanism for declaring the base URI within a JSON API document itself. Such a mechanism would probably work like either `xml:base` or HTML's `<base>`—the primary difference between those two being whether there can be different base URIs specified at different nesting levels. (I played with approaches that used `"self"` to inform the base URI but all of them ended up unnecessarily convoluted.)
3. Interpret JSON API 1.0 as having forbidden relative references.

I'm pretty sure that we'd prefer 1 over 3, so 3 can be ruled out. Between options 1 and 2, I'm not sure. Option 1 is definitely simpler for clients, so I'm leaning toward it, but I guess the question would be: is there any compelling reason to have the facility described in option 2?


@ethanresnick So, the difference between 1 and 2 is whether JSON API considers relative references allowed but not recommended vs. undefined?

My understanding of how json schema works is that they are in the [allowed camp](https://github.com/json-api/json-api/issues/898#issuecomment-146910709), since JSON API hasn't taken an opinion on it one way or the other, it defaults to the json-schema definition.


>  So, the difference between 1 and 2 is whether JSON API considers relative references allowed but not recommended vs. undefined?

Correct. If we interpret the spec per option 1 (i.e. allowed but not recommended), then we're done with this issue. If we interpret it as having undefined behavior, then we have the opportunity to do anything we want, i.e. go with options 1 or 3, or go with a variant of option 1 in which we allow relative references but say more explicitly how base URIs should be determined. 

The biggest takeaway for users, I guess, is that, as long as we don't do option 3 (which seems unlikely), relative references will eventually be supported in the spec in a consistent way. And, if you rely on the base URI being the URI at which the document was requested, that's probably safe.

> My understanding of how json schema works is that they are in the allowed camp, since JSON API hasn't taken an opinion on it one way or the other, it defaults to the json-schema definition.

The JSON Schema on our site isn't normative, so it doesn't commit us to anything, by default or otherwise.


I can't really help deciding which option is the best (however I prefer the first one), but I would propose excluding option 3 :) as Roy Fielding also stated in his presentation (http://roy.gbiv.com/talks/201511_Fielding_REST_CF.pdf) on page 37 that relative links are preferred for RESTful applications. I hope that you find the information helpful. :)


@dgeb @tkellen @steveklabnik Can you guys weigh in here? Particularly on [these options](https://github.com/json-api/json-api/issues/898#issuecomment-154240208). I'd love to put this issue to bed!


> This would give us an opportunity to define a mechanism for declaring the base URI within a JSON API document itself. Such a mechanism would probably work like either `xml:base` or HTML's `<base>`—the primary difference between those two being whether there can be different base URIs specified at different nesting levels.

If relative URLs are going to be allowed, then let's at least maximize their value by making it possible to set the base URL independently for each resource object context. Otherwise there's little point in supporting relative URLs over just using CURIEs, which are also easier to deal with (no trailing slash issue).

> I played with approaches that used `"self"` to inform the base URI but all of them ended up unnecessarily convoluted.

How's this? In most cases I would expect the `base` of an object to be equal to its `self`, making `self` at least a useful fallback in case `base` isn't defined.

Some things to consider:
- Where to allow `base`? (The root level and the resource object level are likely enough.)
- Would dot segments be allowed? (Not in favor, but OK as long as the server then agrees to accept dot segments in request URLs as well. In other words, a client shouldn't _have_ to normalize them.)
- Should a resource object's base URL be resolved relative to the document's base URL? (I guess so, as that seems to account much of the benefit of relative URLs.)
- Should at least one of `self` and `base` be mandatory if relative URLs are present, or is the request URL the final fallback?

Example:

``` javascript
{
  "links": {
    "self": "http://example.com/articles?filter[author]=9"
    "base": "http://example.com/articles/"
  },
  "data": [{
    "type": "articles",
    "id": "1",
    "attributes": {
      "title": "JSON API paints my bikeshed!"
    },
    "links": {
      // This would be resolved relative to the document's `base`.
      "self": "1/"
    },
    "relationships": {
      "author": {
        "links": {
          // The resource object doesn't define a `base` link, so these
          // would be resolved relative to its `self` instead.
          "self": "relationships/author",
          "related": "author"
        }
      }
    }
  }]
}
```

(EDIT: Changed the example to have more realistic URLs.)


@steveklabnik you wrote:

> This already has a meaning in URLs: it's a "network relative" URL, though it's often called "protocol relative." So this isn't going to work, directly.

So, are you saying `network relative` URLs are legit urls to use in JSON API, and only relative one's are up for discussion? i.e.

OK: 
- `http://example.com/format.js`
- `https://example.com/format.js`
- `//example.com/format.js`

NOT RECOMMENDED / UNDEFINED / DISALLOWED:
- `/format.js`

Refs: As far as I can tell, [json-schema uri](http://json-schema.org/latest/json-schema-core.html#anchor18) requires the uri format to be a URI [RFC3986](http://xml2rfc.ietf.org/public/rfc/html/rfc3986.html#generic-syntax) and a valid JSON Reference [json‑reference](https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03).

[@dgeb wrote:](https://github.com/json-api/json-api/pull/834#issuecomment-141984604)

> As @tkellen said, he and I have always intended for relative references to be allowed but not recommended.

[@ethanresnick  wrote:](https://github.com/json-api/json-api/pull/834#issuecomment-142039567)

> I wasn't talking about cross-domain links so much as what path on the current domain to use
> e.g.   `"next": "?page=2"` or `"related": "../author"`

[and](https://github.com/json-api/json-api/pull/834#issuecomment-141631788)

>  From the RFC: "A URI is an identifier consisting of a sequence of characters matching the syntax rule named in [Section 3](https://tools.ietf.org/html/rfc3986#section-3)." 

[@tkellen wrote:](https://github.com/json-api/json-api/pull/834#issuecomment-141967120)

> There is one shown in the [Resource Object](http://jsonapi.org/format/#document-resource-objects) section. That said, I'm on the fence about the value of allowing them at this point. Whatever we decide to do, it would be nice to make a non-normative clarification one way or the other.
> 
> > "links": {
> >         "self": "/articles/1/relationships/author",
> >         "related": "/articles/1/author"
> >       },


I see no reason for adding base when you use relative urls, ad hoc you keep all
of your requests inside the domain you are requesting from. Base is just a workaround and doesn't save much request space.

The problem rises when you have links that are targeting multiple domains then base as you proposed would be useless and we fall back to absolute urls. 

I think the cost of adding relative url's to just 'allow' them is much more higher than consequences
of possible problems. And there is nothing wrong in not supporting them.

W dniu czw., 31.12.2015 o 00:03 Benjamin Fleischer notifications@github.com
napisał(a):

> @steveklabnik https://github.com/steveklabnik you wrote:
> 
> This already has a meaning in URLs: it's a "network relative" URL, though
> it's often called "protocol relative." So this isn't going to work,
> directly.
> 
> So, are you saying network relative URLs are legit urls to use in JSON
> API, and only relative one's are up for discussion? i.e.
> 
> OK:
> - http://example.com/format.js
> - https://example.com/format.js
> - //example.com/format.js
> 
> NOT RECOMMENDED / UNDEFINED:
> - /format.js
> 
> Refs: As far as I can tell, json-schema uri
> http://json-schema.org/latest/json-schema-core.html#anchor18 requires
> the uri format to be a URI RFC3986
> http://xml2rfc.ietf.org/public/rfc/html/rfc3986.html#generic-syntax and
> a valid JSON Reference json‑reference
> https://tools.ietf.org/html/draft-pbryan-zyp-json-ref-03.
> 
> —
> Reply to this email directly or view it on GitHub
> https://github.com/json-api/json-api/issues/898#issuecomment-168091738.


And another thing is that absolute url's are easier to crawl/make service discoverable than relatives.


> Base is just a workaround and doesn't save much request space.

I don't understand. Isn't saving space/effort when _producing_ a document the whole point of using relative URLs?

(**EDIT:** Another use case for `base` is to avoid having to make all relative URLs contingent on whether the request URL happened to have a trailing slash.)

> And there is nothing wrong in not supporting them.

Yes there is, the spec already tacitly allows them. Given this situation, it would be ideal to make the most of them and have a way to set the base URL in the document.

Unfortunately, I don't see how it could be done without breaking compatibility with existing clients that already interpret relative URLs in the context of the request URL.


Here's a silly idea:
1. Invoke the technicality that "relative URLs" are, strictly speaking, not URLs.
2. Recognize that multiple example payloads nevertheless do contain root-relative URLs.
3. Reconcile these facts by amending the normative text to allow both absolute URLs and **root-relative** URLs but not document-relative URLs.
4. Profit! Root-relative URLs alone would cover the case that's the most likely to have been implemented by libraries, are easy to deal with at both the client and server, and are unaffected by the trailing slash annoyance.


cc @dgeb @ethanresnick @tkellen @steveklabnik I was just asked about this again today :(


per https://github.com/json-api/json-api/pull/551#issuecomment-92870252

> JSON-API makes no assertions about URI structure 

and http://jsonapi.org/recommendations/#including-links uses relative links


Following RFC 3986 which is referenced by JSON Schema that a "partial URI" or "relative URI" are not a subset of an URIs but a method of referencing URIs:

> 1.2.3.  Hierarchical Identifiers
> [...]
> NOTE: Previous specifications used the terms "partial URI" and "relative URI" to denote a relative reference to a URI.  As some readers misunderstood those terms to mean that relative URIs are a subset of URIs rather than a method of referencing URIs, this specification simply refers to them as relative references.

JSON Schema for JSON API provided in FAQ requires [`uri`](http://json-schema.org/latest/json-schema-validation.html#rfc.section.8.3.6) and not [`uri-reference`](http://json-schema.org/latest/json-schema-validation.html#rfc.section.8.3.7). So a uri reference like a notwork or domain relative URI would fail validation.

Can anyone definitively enlighten me as to whether the current specification actually allows (root) relative links or not? There seems some controversy on this page and if possible I'd like to use them on the basis it can save a fair amount of verbosity in the API responses


@mark-a-roberts per https://github.com/json-api/json-api/issues/898#issuecomment-232991825 it looks  I'd say you're safe to use relative links

@bf4 agreed.

As @jelhan pointed out in https://github.com/json-api/json-api/issues/898#issuecomment-302676438 we should adjust the schema to specify `uri-reference`.

Once we do that, and perhaps add a FAQ, we should probably close this issue out.

@dgeb I opened a PR fixing schema: #1169 

@jelhan thanks - merged! :shipit: 

I believe that all that remains is a FAQ to further clarify this.

This has been clarified in v1.1:

> Within this object, a link MUST be represented as either:
>
> -    a string whose value is a URI-reference [RFC3986 Section 4.1] pointing to the link’s target.

And per RFC 3986 linked there:

>   A URI-reference is either a URI or a relative reference.  If the  URI-reference's prefix does not match the syntax of a scheme followed by its colon separator, then the URI-reference is a relative   reference.
> (...)
>    A relative reference that begins with two slash characters is termed   a network-path reference; such references are rarely used.  A   relative reference that begins with a single slash character is   termed an absolute-path reference.  A relative reference that does  not begin with a slash character is termed a relative-path reference

Personally I don't see a need for a FAQ entry and wouldn't be sure what to add in there. Closing without further action would be fine in my perspective.